.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.timer-display {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.start {
    background-color: rgb(37, 211, 37);
}

.pause {
    background-color: rgb(255, 233, 30);
}

.reset {
    background-color: rgb(255, 46, 46);
}